{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center my-4">
        <div class="col-md-6">
            <h2>Удалить фильм</h2>
            <p>Вы уверены, что хотите удалить фильм "{{ film.title }}"?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'film-detail' film.id %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}
